.navbar{
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: .1rem;
    padding-bottom: 0rem;
    padding-left: 20vw;
    padding-right: 20vw;
    border-bottom: 1px solid var(--gray-border);
    box-shadow: 0px -1.8px 2rem 1px var(--gray-border);
    background-color: var(--navbar-background-color);
    color: var(--navbar-link-color);
    z-index: 1000;
    margin-bottom: 3rem;
    list-style-type: none;
}

@media only screen and (max-width: 1100px) {
    .navbar {
        padding-left: 15vw;
        padding-right: 15vw;
    }
}

@media only screen and (max-width: 800px) {
    .navbar {
        padding-top: .9rem;
        padding-bottom: .4rem;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}
 


.listItem {
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.listItemActive{
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    color: var(--navbar-link-active-color);
    border-bottom: 2px solid var(--navbar-active-border-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listHeader{
    font-size: 28px;
    color: var(--green-font-color) !important;
}

.listHeader:hover{
    cursor: pointer;
}
.listItem:hover {
    color: var(--gray-font-color);
    cursor: pointer;
}


.listSpan {
    margin: 5px;
}

.listItem:active{
    color: var(--basic-font-color);
}

