.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--form-bg-color);
    border: 1px solid var(--gray-border);
    box-shadow: 2px 2px 1rem 1px var(--gray-border);
    border-radius: 5px;
}
