.storyContainer{
    padding: 3rem;
    margin: 10px;
    border: 1px solid var(--gray-border);
    border-radius: 3px;
    box-shadow: 3px 3px 1.5rem 3px var(--gray-border);
}

.storyHeader{
    width: 100%;
    text-align: center; 
}

.storyMetaData{
    color: var(--gray-font-color);
    display: flex;
    justify-content: space-between;
    margin: 4rem 0px 20px 0px;
}

.storyBoldMetaData{
    font-style: italic;
    color: rgb(182, 181, 181);
    letter-spacing: .3px;
}

.storyBody{
    color: var(--gray-font-color);
    margin-bottom: 10px;
}


