

.appWindow {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  color: var( --yellow-green);
  
}

.container{
  width: 60vw;
  height: 100% !important;
}

@media only screen and (max-width: 1370px) {
  .container{
      width: 70vw;
  }
}

@media only screen and (max-width: 1200px) {
  .container{
      width: 75vw;
  }
}

@media only screen and (max-width: 1000px) {
  .container{
      width: 100vw;
  }
}