@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');


:root{
  /* navbar */
  --navbar-background-color:black;
  --navbar-shadow:rgba(136, 136, 136, 0.137);
  --navbar-link-color:#00CB54;
  --navbar-link-active-color:gray;
  --navbar-active-border-color:#00CB54;

  

  --yellow-green:#00CB54;

  /* header */
  --header-color:#00CB54;

  /* form */
  --form-bg-color:black;
  --gray-font-color:#888;
  
  --green-border:#a8d500;
  --gray-border:rgba(136, 136, 136, 0.137);
  
  --white: #fff;
  --background:#282c34;
  --shadow: #4e4e4e5b;
  --blue:#61dafb;
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
